.heroBackground{
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.animationHomePage{
    animation: float 3s linear infinite;
    --webkit-animation: float 3s linear infinite;
    z-index: -100;
}

@keyframes float{
    0%,
    100%{
     transform: translateY(0rem);
    }
    50%{
        transform: translateY(2rem);  
    }
}